@charset "utf-8";
/* CSS Document */

#texte {
	margin: auto; 
	width: 900px;
}

p {
	line-height:1.3;
	color: grey;
}

.titre{
	font-family: 'quicksandregular';
	font-size: 34px;
	text-transform: uppercase;
	text-align:center;
}

.bienvenue {
	text-align: center; 
	color: #3CBDCA;
}

.message {
	margin: 20px auto;
	width: 800px;
	text-align: center;
}

#btndeco {
	width: 125px;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 30px;
}

.deco {
	background:#4463b1;
	color: white;
	padding: 8px;
	text-decoration: none;
}

.deco:hover {
	background: #A21719;
}