@charset "utf-8";
/* CSS Document */


@font-face {
    font-family: 'bebas_neueregular';
	src: url('../fonts/Bebas_Neue/bebasneue-webfont-webfont.eot');
    src: url('../fonts/Bebas_Neue/bebasneue-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Bebas_Neue/bebasneue-webfont-webfont.woff') format('woff'),
         url('../fonts/Bebas_Neue/bebasneue-webfont-webfont.ttf') format('truetype'),
         url('../fonts/Bebas_Neue/../fonts/bebasneue-webfont-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sans_condensedbold';
	src: url('../fonts/Open_Sans/OpenSans-CondBold-webfont.eot');
    src: url('../fonts/Open_Sans/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Open_Sans/OpenSans-CondBold-webfont.woff') format('woff'),
         url('../fonts/Open_Sans/OpenSans-CondBold-webfont.ttf') format('truetype'),
         url('../fonts/Open_Sans/OpenSans-CondBold-webfont.svg#open_sans_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'quicksandregular';
    src: url('../fonts/Quick_Sand/quicksand-regular-webfont.eot');
    src: url('../fonts/Quick_Sand/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Quick_Sand/quicksand-regular-webfont.woff') format('woff'),
         url('../fonts/Quick_Sand/quicksand-regular-webfont.ttf') format('truetype'),
         url('../fonts/Quick_Sand/quicksand-regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'quicksandlight';
    src: url('../fonts/Quick_Sand/quicksand-light-webfont.eot');
    src: url('../fonts/Quick_Sand/quicksand-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Quick_Sand/quicksand-light-webfont.woff') format('woff'),
         url('../fonts/Quick_Sand/quicksand-light-webfont.ttf') format('truetype'),
         url('../fonts/Quick_Sand/quicksand-light-webfont.svg#quicksandlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: '"MYRIADPRO-REGULAR"';
    src: url('../fonts/"MYRIADPRO-REGULAR".eot');
    src: url('../fonts/"MYRIADPRO-REGULAR".eot?#iefix') format('embedded-opentype'),
         url('../fonts/"MYRIADPRO-REGULAR".woff') format('woff'),
         url('../fonts/"MYRIADPRO-REGULAR".ttf') format('truetype'),
         url('../fonts/"MYRIADPRO-REGULAR".svg#"MYRIADPRO-REGULAR"') format('svg');
    font-weight: normal;
    font-style: normal;
}

