@charset "utf-8";
/* CSS Document */

#texte {
	margin: auto; 
	width: 900px;
}

p {
	line-height:1.3;
	color: grey;
}

.titre{
	font-family: 'quicksandregular';
	font-size: 34px;
	text-transform: uppercase;
	text-align:center;
}

.bienvenue {
	text-align: center; 
	color: #3CBDCA;
}

.message {
	margin-top: 20px;
}
